@using Chess.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@GlobalConstants.SystemName by Plamen Petrov!</h1>
</div>

<div class="text-center">
    <a asp-controller="Game" asp-action="Index" class="btn btn-primary col-4">New Game</a>
</div>