@{
    this.ViewData["Title"] = "Game Room";
}

<environment names="Development">
    <script type="text/javascript" src="~/lib/microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/chessboard-js/chessboard-1.0.0.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script type="text/javascript" src="~/lib/microsoft/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/chessboard-js/chessboard-1.0.0.min.js" asp-append-version="true"></script>
</environment>

<main id="main" class="container-fluid text-center">
    <div class="row playground">
        <div class="column left">
            <div id="white-stats" class="stats">
                <h1 id="white-name" class="name"><i class="far fa-user fa-sm"></i> </h1>
                <div id="white-points" class="points"><span id="white-points-value">0</span> pts</div>
                <div id="white-taken-pieces">
                    <div id="black-pawn" class="pieces"><img src="~/img/chesspieces/wikipedia/bP.png" alt="Pawn: " width="33" height="33" /><span id="black-pawns-taken">0</span></div>
                    <div id="black-knight" class="pieces"><img src="~/img/chesspieces/wikipedia/bN.png" alt="Knight: " width="33" height="33" /><span id="black-knights-taken">0</span></div>
                    <div id="black-bishop" class="pieces"><img src="~/img/chesspieces/wikipedia/bB.png" alt="Bishop: " width="33" height="33" /><span id="black-bishops-taken">0</span></div>
                    <div id="black-rook" class="pieces"><img src="~/img/chesspieces/wikipedia/bR.png" alt="Rook: " width="33" height="33" /><span id="black-rooks-taken">0</span></div>
                    <div id="black-queen" class="pieces"><img src="~/img/chesspieces/wikipedia/bQ.png" alt="Queen: " width="33" height="33" /><span id="black-queens-taken">0</span></div>
                </div>
                <div>
                    <ul id="white-move-history" class="list-group move-history"></ul>
                </div>
            </div>
        </div>
        <div class="column middle">
            <div id="board-main" class="board-box">
                <h6 id="status"><i class="fas fa-arrow-alt-circle-right"></i> <span id="status-text"></span><span id="status-check"></span> </h6>
                <div id="board"></div>
                <div id="game-options" class="option-buttons">
                    <button type="submit" id="threefold-draw" class="btn btn-primary" disabled><i class="fas fa-equals"></i> Declare 3F Draw</button>
                    <button type="submit" id="offer-draw" class="btn btn-primary"><i class="far fa-handshake"></i> Offer Draw</button>
                    <button type="submit" id="resign" class="btn btn-primary"><i class="far fa-flag"></i> Resign</button>
                </div>
            </div>
        </div>
        <div class="column right">
            <div id="black-stats" class="stats">
                <h1 id="black-name" class="name"><i class="fas fa-user fa-sm"></i> </h1>
                <div id="black-points" class="points"><span id="black-points-value">0</span> pts</div>
                <div id="black-taken-pieces">
                    <div id="white-pawn" class="pieces"><img src="~/img/chesspieces/wikipedia/wP.png" alt="Pawn: " width="33" height="33" style="align-content: center" /><span id="white-pawns-taken">0</span></div>
                    <div id="white-knight" class="pieces"><img src="~/img/chesspieces/wikipedia/wN.png" alt="Knight: " width="33" height="33" style="align-content: center" /><span id="white-knights-taken">0</span></div>
                    <div id="white-bishop" class="pieces"><img src="~/img/chesspieces/wikipedia/wB.png" alt="Bishop: " width="33" height="33" style="align-content: center" /><span id="white-bishops-taken">0</span></div>
                    <div id="white-rook" class="pieces"><img src="~/img/chesspieces/wikipedia/wR.png" alt="Rook: " width="33" height="33" style="align-content: center" /><span id="white-rooks-taken">0</span></div>
                    <div id="white-queen" class="pieces"><img src="~/img/chesspieces/wikipedia/wQ.png" alt="Queen: " width="33" height="33" style="align-content: center" /><span id="white-queens-taken">0</span></div>
                </div>
                <div>
                    <ul id="black-move-history" class="list-group move-history"></ul>
                </div>
            </div>
        </div>
    </div>

    <div id="find-opponent" class="row m-5 find-box">
        <div class="mx-auto my-auto text-center">
            <p id="label" class="row help-block m-3 text-center">Enter your game nickname:</p>
            <div class="form-inline">
                <div class="form-group mr-2" id="username-group">
                    <label class="sr-only control-label" for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Your name" autofocus />
                </div>
                <button type="submit" id="find-game" class="btn btn-primary">Find Game</button>
                <p id="hidden" class="help-block" style="visibility:hidden"></p>
            </div>
        </div>
    </div>
</main>

<environment names="Development">
    <script type="text/javascript" src="~/js/game.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script type="text/javascript" src="~/js/game.min.js" asp-append-version="true"></script>
</environment>
