@{
    this.ViewData["Title"] = "Game Room";
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chessboard-1.0.0.min.js"></script>

<link rel="stylesheet" href="~/css/chessboard-1.0.0.min.css">

<main id="main" class="container-fluid text-center">
    <div id="statusView" class="row">
        <h6 id="status"></h6>
    </div>
    <div id="board"></div>
    <div id="nameView" class="row">
        <h6 id="name"></h6>
    </div>

    <div id="findOpponent" class="row m-5">
        <div class="mx-auto my-auto text-center">
            <p id="label" class="row help-block m-3 text-center">Enter your game nickname:</p>
            <div class="form-inline">
                <div class="form-group mr-2" id="usernameGroup">
                    <label class="sr-only control-label" for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Name" autofocus />
                </div>
                <button type="submit" id="findGame" class="btn btn-primary">Find Game</button>
                <p id="hidden" class="help-block" style="visibility:hidden"></p>
            </div>
        </div>
    </div>
</main>

<script>
    $(function() {
        var connection = new signalR.HubConnectionBuilder().withUrl("/hub").build();
        connection.start();

        var playerId;
        var playerColor;
        var playerName;
        var gameOver;
        var pieceColor;

        $('#findGame').click(function() {
            var name = $('#username').val();
            connection.invoke("FindGame", name);
            document.getElementById("findGame").disabled = true;
        })

        connection.on("PlayerJoined", function (player) {
            playerId = player.id;
        })

        connection.on("WaitingList", function () {
            $('#label').html("Waiting for an opponent!");
        })

        connection.on("Start", function (game) {
            if (game.id != "") {
                document.getElementById('findOpponent').style.display = "none";
                document.getElementById('board').style.display = "block";

                playerColor = (playerId == game.player1.id) ? game.player1.color : game.player2.color;
                playerName = (playerId == game.player1.id) ? game.player1.name : game.player2.name;

                document.getElementById('statusView').style.display = "block";
                document.getElementById('nameView').style.display = "block";
                document.getElementById('name').innerText = `PLAYER NAME: ${playerName}`;

                updateStatus(game.opponent.name);
            }
        })

        connection.on("ChangeOrientation", function () {
            board.orientation('black');
        })

        connection.on("InvalidMove", function (fen) {
            board.position(fen);
        })

        connection.on("MoveDone", function (source, target, game) {
            board.move(`${source}-${target}`);

            updateStatus(game.opponent.name);
        })

        function updateStatus(name) {
            var status = document.getElementById('status');
            if (name == playerName) {
                status.innerText = "STATUS: Your turn!";
                status.style.color = "green";
            } else {
                status.innerText = `STATUS: ${name} turn!`;
                status.style.color = "red";
            }
        }

        function onDrop(source, target, piece, newPos, oldPos) {
            if (target.length === 2) {
                let sourceFen = Chessboard.objToFen(oldPos);

                connection.invoke("MoveSelected", source, target, sourceFen);
            }
        }

        var config = {
            pieceTheme: 'img/chesspieces/wikipedia/{piece}.png',
            draggable: true,
            dropOffBoard: 'snapback',
            showNotation: true,
            onDrop: onDrop,
            position: 'start'
        }

        var board = ChessBoard('board', config);
    })
</script>
