@using Chess.Data.Models;

@{
    this.ViewData["Title"] = "Game Room";
}

<link rel="stylesheet" href="css/chessboard-1.0.0.min.css">

<script src="js/chessboard-1.0.0.min.js"></script>
<script type="text/javascript" src="~/js/signalr/signalr.min.js" asp-append-version="true"></script>

<div id="board1" style="width: 600px"></div>

<script>

    $(function () {
        var connection = new signalR.HubConnectionBuilder().withUrl("/hub").build();
        var playerId;
        var playerColor;
        var playerName;
        var gameOver;



    }

    function onDrop(source, target, piece) {
        console.log('Source: ' + source)
        console.log('Target: ' + target)
        console.log('Piece: ' + piece)
    }

    var config = {
        pieceTheme: 'img/chesspieces/wikipedia/{piece}.png',
        draggable: true,
        dropOffBoard: 'snapback', // this is the default
        showNotation: true,
        orientation: 'white',
        onDrop: onDrop,
        position: 'start'
    }
    var board1 = ChessBoard('board1', config);
</script>