.about-container {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.about-container img {
    width: 100%;
}

.about-title {
    background-color: #454a52;
    font-variant: small-caps;
}

.about-description {
    margin-top: 5px;
}

.about-feature-list {
    padding-left: 0;
}

.about-feature-list li {
    list-style: none;
    display: inline;
}

.about-feature-list li:after {
    content: " \00b7";
}

.about-feature-list li:last-child:after {
    content: none;
}
