.about-container {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.about-container img {
    width: 100%;
}

.about-title {
    background-color: #454a52;
    font-variant: small-caps;
}

.about-description {
    margin-top: 5px;
}
