.home-title-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-title {
    background-color: #454a52;
    font-variant: small-caps;
}

.home-author {
    background-color: black;
    font-size: small;
    font-weight: 900;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    width: 32.5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.card-text-container {
    padding: 5px 16px;
}

.card-img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-text-title a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.card-text-title a:hover {
    color: #557d5f;
    text-decoration: none;
}

.text-chess-info {
    text-align: justify;
}
