.home-title-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-title {
    background-color: #454a52;
    font-variant: small-caps;
}

.home-author {
    background-color: black;
    font-size: small;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.card:hover img {
    transform: scale(1.1);
    opacity: 0.85;
}

.card-img-wrap {
    overflow: hidden;
}

.card-img {
    height: 37vh;
    object-fit: cover;
    transition: transform .3s;
}

.card-text-container {
    margin-top: 10px;
    padding: 5px 16px;
}

.card-text-title a {
    font-variant:small-caps;
    color: black;
    font-weight: 700;
}

.card-text-title a:hover {
    color: #557d5f;
    text-decoration: none;
}

.card-text-desciption {
    margin-bottom: 10px;
}
