#whiteStats, #blackStats, #boardMain {
    display: none;
}

#board {
    width: 550px;
    margin: auto;
}

#status {
    color: darkgray;
    margin-bottom: 12px;
}

.color {
    color: darkgray;
}

#gameOptions button {
    margin-top: 10px;
    text-align: center;
    background-color: darkslategray;
    color: white;
    border: none;
}

.pieces {
    float: left;
    width: 20.00%;
}

#statusCheck {
    color: black;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}





a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}