body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../img/background-image.jpg");
    background-attachment: fixed;
}

#board {
    width: 530px;
    margin: auto;
}

#whiteStats, #blackStats, #boardMain {
    display: none;
}

#gameOptions button {
    margin-top: 10px;
    text-align: center;
    background-color: #454a52;
    color: white;
    border: none;
    width: 150px;
}

.pieces {
    float: left;
    width: 20.00%;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.list-group-item {
    padding: 3px;
    text-align: left;
    width: 50%;
    text-indent: 10px;
}

#whiteMoveHistory, #blackMoveHistory {
    align-items: center;
}

#blackMoveHistory .list-group-item {
    background-color: black;
    color: white;
    border-color: lightgray;
}

.chessText {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.chessImage {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.chessImage img {
    width: 100%;
    height: auto;
}

.chessImage .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #454a52;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 15%;
}

.chessImage .btn:hover {
    background-color: green;
}

.about {
    width: 66.6%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.about h2 {
    text-align: center;
    font-variant: small-caps;
}

#whitePoints, #blackPoints {
    font-size: 18px;
}

#title {
    text-align: center;
    background-color: #454a52;
    color: white;
    margin: 0px;
    padding: 5px;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-weight: 500;
}

#by-text {
    text-align: center;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 5px;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: small;
}

#aboutImage {
    width: 100%;
}

#aboutHead {
    background-color: #454a52;
    color: white;
    padding: 3px;
    letter-spacing: 1px;
}

#findGame {
    background-color: #454a52;
    color: white;
}

.highlight-white {
    -webkit-box-shadow: inset 0 0 3px 3px yellow;
    -moz-box-shadow: inset 0 0 3px 3px yellow;
    box-shadow: inset 0 0 3px 3px yellow;
}

.highlight-black {
    -webkit-box-shadow: inset 0 0 3px 3px blue;
    -moz-box-shadow: inset 0 0 3px 3px blue;
    box-shadow: inset 0 0 3px 3px blue;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
