@import url("../lib/bootstrap/dist/css/bootstrap.css");
@import url("../lib/chessboard-js/chessboard-1.0.0.css");
@import url("home.css");
@import url("game.css");
@import url("about.css");

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../img/background-image.jpg");
    background-attachment: fixed;
    margin-bottom: 60px;
}

.title-text {
    display: flex;
    justify-content: center;
    color: white;
    margin: 0px;
    padding: 5px;
    letter-spacing: 1px;
}

.body-renderer {
    padding-top: 52px;
}

.navbar {
    padding: 0px;
    margin: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-item {
    padding: 5px;
}

li.nav-item {
    height: 52px;
}

.nav-item:hover {
    background-color: #454a52;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-item:hover .nav-link {
    color: white;
}

[disabled] {
    cursor: default;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}
