@{
    this.ViewData["Title"] = "About";
}

<section class="about-container">
    <h2 class="about-title title-text">Chess Project</h2>
    <p class="about-description">
        The game is developed main for practicing <b>C# OOP</b>, <b>ASP.NET Core</b>, <b>Entity Framework Core</b>, <b>JS</b>, <b>HTML</b> and <b>CSS</b>.
        <b>SignalR</b> is integrated for live multiplayer and <b>chessboardjs</b> for board rendering.<br /><br />

        <img class="about-img-web" src="~/img/ezgif.com-gif-maker.gif" alt="Chess Game Image" /><br /><br />

        The following features are implemented:
        <ul class="about-feature-list">
            <li><b>Move Validation</b></li>
            <li><b>Check</b></li>
            <li><b>Checkmate</b></li>
            <li><b>Stalemate</b></li>
            <li><b>Draw</b></li>
            <li><b>Offer Draw</b></li>
            <li><b>Threefold Repetition Draw</b></li>
            <li><b>Fivefold Repetition Draw</b></li>
            <li><b>Resign</b></li>
            <li><b>Castling</b></li>
            <li><b>Pawn Promotion</b></li>
            <li><b>En Passant Capture</b></li>
            <li><b>Points Calculation</b></li>
            <li><b>Taken Pieces History</b></li>
            <li><b>Algebraic Notation Move History</b></li>
            <li><b>User Authentication</b></li>
            <li><b>Highlight Last Move</b></li>
            <li><b>Game Lobby</b></li>
            <li><b>Game Chat</b></li>
            <li><b>Lobby Chat</b></li>
            <li><b>Stats Page</b></li>
            <li><b>ELO Rating Calculation</b></li>
            <li><b>Fifty-Move Draw</b></li>
        </ul>

        The project is inspired by console version of chess:<br />
        <img class="about-img-console" src="~/img/console_chess.jpg" alt="Console Chess Image" /><br /><br />

        <address>
            <b>Plamen Petrov</b><br />
            Email: pspetrov1987@gmail.com<br />
            Skype: plamen6522<br />
            <i class="fab fa-github"></i> <a href="https://github.com/psp87/Chess" target="_blank">Chess.Web - Source Code</a><br />
            <i class="fab fa-github"></i> <a href="https://github.com/psp87/Chess.Console" target="_blank">Chess.Console - Source Code</a>
        </address>
    </p>
</section>
