@{
    this.ViewData["Title"] = "About";
}

<div class="about">
    <h2 id="aboutHead"><b>Chess Project</b></h2>
    <p>
        The game was developed main for practicing <b>C# OOP</b>, <b>ASP.NET Core</b>, <b>JS</b>, <b>HTML</b> and <b>CSS</b>.
        SignalR was used for live multiplayer. For board rendering was integrated <b>chessboardjs</b> JS library.<br /><br />

        The following features were implemented:
        <ul>
            <li><b>Move Validation</b></li>
            <li><b>Check</b></li>
            <li><b>Checkmate</b></li>
            <li><b>Stalemate</b></li>
            <li><b>Draw</b></li>
            <li><b>Offer Draw</b></li>
            <li><b>Threefold Repetition Draw</b></li>
            <li><b>Fivefold Repetition Draw</b></li>
            <li><b>Resign</b></li>
            <li><b>Castling</b></li>
            <li><b>Pawn Promotion</b></li>
            <li><b>En Passant Capture</b></li>
            <li><b>Points Calculation</b></li>
            <li><b>Taken Pieces History</b></li>
            <li><b>Algebraic Notation Move History</b></li>
            <li><b>User Authentication</b></li>
        </ul>

        The project is inspired by previously written console version of chess:<br />
        <img id="aboutImage" src="~/img/console_chess.jpg" alt="Console Chess Image" /><br /><br />

        Source code console - <i class="fab fa-github"></i> <a href="https://github.com/psp87/Chess.Console" target="_blank">Chess.Console</a><br />
        Source code web - <i class="fab fa-github"></i> <a href="https://github.com/psp87/Chess" target="_blank">Chess</a><br /><br />

        Planned future features:
        <ul>
            <li>Chat Room</li>
            <li>Stats Page</li>
            <li>Timer Game Mode</li>
            <li>SPA (Single-Page Application)</li>
        </ul>
        <br />

        <b>Plamen Petrov</b><br />
        Email: pspetrov1987@gmail.com<br />
        Skype: plamen6522
    </p>
</div>
