@{
    this.ViewData["Title"] = "About";
}

<div class="about">
    <h2><b>Chess Project</b></h2>
    <p><i>by Plamen Petrov</i></p>
    <p>
        The game was written main for practicing C# OOP, ASP.NET Core, JS, HTML and CSS.
        SignalR was used for live multiplayer.
        For board rendering was integrated chessboardjs JS library. The project is inspired by previously written console version of chess - <i class="fab fa-github"></i> <a href="https://github.com/psp87/Chess.Console" target="_blank">Chess.Console</a><br /><br />

        The following features were implemented:
        <ul>
            <li><i>Move validation</i></li>
            <li><i>Check</i></li>
            <li><i>Checkmate</i></li>
            <li><i>Stalemate</i></li>
            <li><i>Draw</i></li>
            <li><i>Offer Draw</i></li>
            <li><i>Threefold Repetition Draw</i></li>
            <li><i>Fivefold Repetition Draw</i></li>
            <li><i>Resign</i></li>
            <li><i>Castling</i></li>
            <li><i>Pawn Promotion</i></li>
            <li><i>En Passant capture</i></li>
            <li><i>Points calculation</i></li>
            <li><i>Taken Pieces History</i></li>
            <li><i>Algebraic Notation Move History</i></li>
        </ul>

        Some of the features need improvement.<br /><br />

        Planned future implementation:
        <ul>
            <li><i>User Authentication</i></li>
            <li><i>Chat Room</i></li>
            <li><i>SPA (Single-Page Application)</i></li>
            <li><i>Stats Page</i></li>
            <li><i>Timer Game Mode</i></li>
        </ul>
    </p>
</div>
