@using Chess.Common
@{
    this.ViewData["Title"] = "Stats";
}

<div>
    <h1 class="display-3">Statistics Page</h1>
    <p>Here will be placed statistics!</p>

    <h1 class="display-4 col-4" style="border:dashed"><a href="http://google.bg">Google</a></h1>
</div>
